.movie-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .movie-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 240px;
    height: 500px;
  }

  .poster-container {
    height: 400px; 
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .movie-card img {
   height: 100%;
   width: 100%;
  }
  
  .movie-card div {
    padding: 10px;
  }
  
  .movie-card h3 {
    margin-top: 0;
  }
  
  .movie-card p {
    margin: 5px 0;
  }
  
  .movie-card a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: blue;
  }
  
  .submit-form{
    margin-bottom: 40px;
  }