.movie-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .movie-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 200px;
  }
  
  .movie-card img {
    width: 100%;
    height: auto;
  }
  
  .movie-card div {
    padding: 10px;
  }
  
  .movie-card h3 {
    margin-top: 0;
  }
  
  .movie-card p {
    margin: 5px 0;
  }
  
  .movie-card a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: blue;
  }
  
  .submit-form{
    margin-bottom: 40px;
  }